@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply h-full antialiased dark:bg-neutral-950 dark:text-neutral-50;
  }
}

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 8px;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    width: 10px;
    background: transparent;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #9f9f9f;
    border-radius: 100vh;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #6c6c6c;
  }
}
